@import '../_settings.scss';

#header {
 
    background-color: $color-brand;
    border-top: 5px solid darken($color-brand, 5%);

    header {

        overflow: hidden;
        color: $text-color;
        font-size: 0.875em;
        padding-left: $column-gutter-half;
        padding-right: $column-gutter-half;

        .brand {
            
            display: inline-block;
            padding: 1em 0 1em 0;
            text-decoration: none;

            @media #{$medium-up} {
                    
                padding: 1em 0 1em 0;
            }

            .logo {

                height: 1.35em;
                margin-top: -0.17em;

                @media #{$medium-up} {
                    
                    margin-right: 0.5em;
                }
            }

            span {

                display: none;

                @media #{$medium-up} {
                    
                    display: inline;
                }
            }
        }

        a.selector {

            float: right;
            display: inline-block;
            padding: 1em 1.6em;
            text-decoration: none;
            border-right: 1px solid darken($color-brand, 5%);
            border-left: 1px solid darken($color-brand, 5%);

            &:last-child {

                border-right: none;
            }

            i {

                margin-left: 1em;
                font-size: 1.2em;
                transition: font 0.1s ease-in;
            }

            &:hover {

                i {

                    font-size: 1.4em;
                }
            }

            &.language {

                i {

                    @media #{$small-only} {
                        
                        margin-left: 0;
                    }
                }
            }
        }
    }
}