@import '../_settings.scss';

@mixin box-map() {

    &.box-map {

        min-height: 100px;

        @media #{$medium-up} {

            min-height: 150px;
        }
    }
}

@mixin box-news() {

    &.box-news {

        article {

            border-bottom: 1px solid #EEF2F3;
            padding-bottom: 1em;
            margin-bottom: 1em;

            &:last-child {

                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
            
            h2 {

                margin: 0;
                font-size: 16px;
                line-height: 100%;
            }

            span {

                font-size: 13px;
                color: #525252;
            }

            p {

                margin: 0.5em 0 0 0;
                font-size: 15px;
            }
        }
    }
}

.box {

    background-color: #FFF;
    min-height: 120px;
    padding: 1em;
    margin-bottom: 1.6em;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.06);

    h3 {

        i {

            margin-right: 1em;
            color: #B09A1A;
        }
    }

    @include box-map;
    @include box-news;
}


// oversigt map min-height: 100 mobile - 150 medium-up